.weatherSection{
    max-width: 2560px;
    min-height: 80vh;
}

.weatherSection.loading{
    justify-content: center;
    padding-top: 80px;
    display: flex;
}

#loadingWeatherTxt{
    text-align: center;
}

.weatherSection > header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
}

.weatherSection > header > span{
    font-size: clamp(15.6px, calc(10px + 2vmin), 31.6px) !important;
}

.weatherSection > header > span:not(:first-child){
    margin-top: 3px;
    font-weight: 700;
    max-width: 90vw;;
    word-wrap: break-word;
    min-width: 140px;
    text-align: center;
}

.weatherSection h3{
    padding: 0;
}

#loadingWeatherTxt{
    display: block;
    width: 100%;
    text-align: center;
}

#currentDaySection{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 8px;
}

.dailyForecastContainer{
    display: flex;
    /* width: 95%; */
    overflow-x: auto;
    padding-bottom: 100px;
}


.weatherSection > header,
.dailyForecastContainer,
#currentDaySection{
    min-width: 280px;
}

@media(min-width: 1024px){
.dailyForecastContainer{
    padding-right: 20px;
}    
}


@media (min-width: 1920px){
    .dailyForecastContainer{
        justify-content: center;
    }
}


/* for tablets and below */
@media(max-width: 1023px){
.dailyForecastContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}


