.searchResultsModal{
    /* height: 200px; */
    height: fit-content;
    min-height: 80px;
    max-height: 600px;
    position: absolute;
    border: var(--borderColor);
    width: 100%;;
    z-index: 100000;
    background-color: #ffffff;
    overflow-y: auto;
    padding-bottom: 8px;
    border-radius: 5px;
}

.searchResultsModal > span{
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 8px;
}

.searchResultsContainer{
    width: 100%;
    position: relative;
}

.searchResult{
    display: flex;
    width: 97%;
    justify-content: space-between;
    /* padding: 0px 8px 0px 8px;; */
    padding-left: 4px;
    margin-top: 8px;
    cursor: pointer;
}

.searchResult > div:first-child{
    display: grid;
    place-items: center;
}

.searchResult > div:nth-child(2) > span{
max-width: 500px;
    /* width: 95vw; */
    text-align: right;
    /* border: solid pink; */
    white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        font-weight: 250;
            font-size: 17px;
}

.searchResult:hover{
    background: #898F9C;
}

@media (max-width: 1199px){
    .searchResult>div:nth-child(2) > span{
        width:  45vw;
    }
}

@media (max-width: 767px){
    .searchResult>div:nth-child(2) > span{
        font-size: clamp(10px, 2.5vw, 17px);;
        width: 65vw;
    }
}

@media (max-width: 280px) {
    .searchResultsModal{
    position: fixed;
    width: 81.5%;
    }   
}

@media (max-width: 1199px){

}