.modalBtns {
    border: var(--borderColor);
    position: fixed;
    width: 100px;
    transform: translateY(5px);
    background-color: white;
    border-radius: 5px;;
}

.modalBtns > button{
    height: 25px;
    text-align: left;
    width: 100%;
}

.modalBtns.unitsSelection > button{
    font-size: 10px;
}

.modalBtns.searchTypeAndUnits{
    transform: translate(-45px, 1px);
    width:130px
}

.modalBtns.searchTypeAndUnits > button{
    font-size: 9px;
}


.backBtn{
    border-top: solid silver .001px;
    color: grey;
}