.weatherDayModal{
    width: 50vw;
    height: 90vh;
    /* min-height: 450px; */
    /* height: fit-content; */
    /* padding-bottom: 20px;; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: solid grey .5px;
    z-index: 100005;
    border-radius: 8px;
    box-shadow: 0 15px 30px, 0 15px 12px;
    /* padding-top: 16px; */
    padding: 16px 0px 16px 0px;
    overflow-y: auto;
}

.weatherDayModal.notPresentDay{
    height: fit-content;
    padding-bottom: 25px;;
}

.locationInfo{
    font-size: clamp(15.6px, calc(10px + 2vmin), 31.6px) !important;
}


.weatherDayModal > div > section:first-child{
    display: grid;
    place-items: center;
}

.weatherDayModal > div > section > span:last-child{
    font-size: 28px;
    font-weight: 600;
    margin-top: 8px;
    word-wrap: break-word;;
    max-width: 450px;
}

.weatherDescriptionSec1{
    display: flex;
    justify-content: space-between;
    /* margin-top: 4px; */
}

.weatherDescriptionSec1>div:first-of-type{
    /* display: grid; */
    /* place-items: center; */
    display: flex;
    justify-content: center;
    width: 50%;
}

.descriptionSelectedWeather::first-letter{
    text-transform: capitalize;
}

.weatherDescriptionSec1 > div:first-of-type img{
    height: 180px;
    width: 180px;
}

.weatherDescriptionSec1>div:nth-child(2) > span::first-letter{
    text-transform: capitalize;
}

.weatherDescriptionSec1>div:nth-child(2){
    width: 50%;
}

.weatherDescriptionContainer.notPresentDay{
    padding-top: 20px;
}

.weatherDescriptionSec1 span{
    font-size: 20px;
}

.weatherDescriptionContainer.presentDay{
    padding-top: 40px;
}

.currentWeatherInfo{
    display: flex;
    flex-direction: column;
}

.currentWeatherInfo > span:not(:first-child){
    margin-top: 4px;
    margin-left: 16px;
}

.averageForTheDay{
    margin-top: 10px;
}

.tableSection,
.sunriseAndSetTimeContainer>div,
.presentDayDescription{
    display: grid;
    place-items: center;
}

.averageForTheDay > div{
    display: flex;;
}

.averageForTheDay > *:not(:first-child){
    margin-left: 16px;
    
}

.infoTxt{
    font-size: 15px !important;
}

.projectedInfoSelectedWeatherDay{
    display: flex;;
    flex-direction: column;
    padding-top: 8px;
}

.projectedInfoSelectedWeatherDay > span:not(:first-child){
    margin-top: 6px;
}

.tableSection{
    padding-top: 10px;
}

.sunriseAndSetSec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.sunriseAndSetTimeContainer{
    display: flex;
    margin-top: 4px
}

.sunriseAndSetTimeContainer > div{
    margin-left: 8px;
}

.sunriseAndSetSec>div:last-child{
    margin-left: 30px;
}

.sunriseAndSetSec > div:first-child{
margin-right: 30px;
}

.sunriseAndSetInfoContainer > span{
    text-align: center;
}

.sunriseAndSetInfoContainer{
    display: flex;
    flex-direction: column;
}

.sunriseAndSetTimeContainer svg{
    color: orange;
    font-size: clamp(15.6px, calc(10px + 2vmin), 31.6px) !important;
}

@media (min-width: 1024px) and (max-width: 1199px){
    .weatherDayModal{
      width: 70vw;  
      max-width: 716.797px;
    }
}

@media (min-width: 768px) and (max-width: 1199px){
.weatherDayModal{
    width: 90vw;
    max-width: 691.195px;
}

}

@media (min-width: 768px){
    .weatherDayModal{
        max-height: 710.094px;
        max-width: 720px;
    }
}


@media(max-width: 767px){
    .weatherDayModal{
        padding-top: 30px;
        border-radius: 0%;
            position: fixed;
            width: 100%;
            height: 100% !important;
            min-height: 100vh;
            overflow-y: scroll;
            top: 50%;
            left: 50%;
            z-index: 100005;
            transform: translate(-50%, -50%);

    }

    .sunriseAndSetSec{
    padding-bottom: 20px
    }


    .weatherDescriptionSec1{
        flex-direction: column;
        align-items: center;
    }

        .weatherDescriptionSec1>div:nth-child(2){
            width: 100%;
        }

    .currentWeatherInfo > span:first-child,
    .averageForTheDay > span:first-child{
        display: block;
        text-align: center;
        width: 100%;
    }

    .averageForTheDay > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .currentWeatherInfo span{
        text-align: center;
        display: block;
        margin-left: 0px !important;
    }

.currentWeatherInfo span:first-child{
    text-decoration: underline;
    margin-bottom: 5px;;
}

.averageForTheDay>span:first-child{
    text-decoration: underline;
}

    .projectedInfoSelectedWeatherDay span{
        text-align: center;
        width: 75%;
        display: block;
    }

    .infoTxt{
        font-size: 13px !important;
    }

    .weatherDayModal>div>section>span:last-child{
        /* font-size: 12px;; */
        font-size: clamp(12px, 3vw, 28px);
        text-align: center;
        width: 90vw;
    }
}


