.searchBtnsContainer{
position: absolute;
bottom: 0;
right: 0;
height: 37.7917px;
display: flex;
width: 100%;
justify-content: space-between;
}


.searchBtnsSubContainer{
    display: flex;
}

.searchBtnsSubContainer > button,
.searchTypeContainer > button{
    width: 100px;
    height: 30px;
    border: var(--borderColor);
    border-radius: 4px;
    font-weight: 350;
font-size: 11.5px;
}


.searchTypeContainer > button:first-child{
    margin-right: 6px;
}


.searchBtnsContainer > div:first-child{
    position: relative;
}

.searchBtnsContainer > div:first-child span{
    font-size: 8px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
