.searchBtnsContainer{
position: absolute;
bottom: 0;
right: 0;
height: 37.7917px;
display: flex;
}


.searchBtnsContainer > button,
.searchTypeContainer > button{
    width: 100px;
    height: 30px;
    border: var(--borderColor);
    border-radius: 4px;
    font-weight: 350;
}

.searchTypeContainer > button:first-child{
    margin-right: 6px;
}
