.searchInputContainer{
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.searchInputContainer > div:first-child{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* place-items: center; */
    flex-direction: column;
    max-width:691.195px;
    padding-top: 20px;

}

.searchInputContainer > div:first-child input{
    width: 100%;
    height: 40px;
    max-width: 691.195px;
    padding-left: 5px;
    font-weight: 250;
    font-size: 17px;
}

@media (min-width: 768px) and (max-width: 1199px){
.searchInputContainer>div:first-child{
    width: 100%;
    margin-left: 55px;

}
}


@media (max-width: 767px){
    .searchInputContainer>div:first-child {
        display: block
    }

    .searchInputContainer>div:first-child{
        padding-top: 0px;
    }

    .searchInputContainer>div:first-child input{
        font-size: clamp(8.2px, 2.8vw, 17px);

    }
}




