.searchBar{
    height: 130px;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    color: var(--textColor);
    position: fixed;
    z-index: 100002;
    top: 0;
    background-color: white;
    border-bottom: silver .05px solid;
}

.searchBarSubContainer{
    display: flex;
    max-width: 2560px;
    height: 100%;
}


.searchBarSubContainer > section:not(:nth-child(2)){
    display: grid;
    place-items: center;
}

.searchBarSubContainer > section:first-child{
    width: 20%;
}

.searchBarSubContainer > section:nth-child(2){
    width: 60%;
}

.searchBarSubContainer > section:first-child h1{
    font-size: 20px;
    font-weight: 350;
}

.wrapper{
    height: 130px;
    width: 100%;
}